.fields {
  margin-top: 20px;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

h2{
  text-align: center;
  font-size: 42px;
  font-style: italic;
  color: grey;
}

#title{
  text-align: center;
  font-size: 38px;
  font-style: italic;
  color: grey;
}

#profilePic{
  padding-left: 180px;
  padding-top: 50px;
  width: 350px;
  height: 420px;
  float: left;
}

body{
  background-color: #4d004d;
}

#itsBritney{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  float: auto;
  padding-left: 90px;
}
p{
  text-align: center;
  color: grey;
  font-size: 28px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
