body {
  background-color: #4d004d;
}

#loginpage {
  background-image: url("grey.jpg");
  background-repeat: no-repeat;
  color: #4d004d;
  margin-top: auto;
  margin-left: auto;
  border: 2px solid #b300b3;
  padding: 25px;
  width: 300px;
}

h1 {
  text-align: center;
}

#email {
  text-align: center;
}

#password {
  text-align: center;
}

#submit {
  text-align: center;
}

#signup {
  text-align: center;
}
