h2 {
  font-size: 32px;
}


#adduser {
  color: grey;
}

body {
  background-color: #4d004d;
}

input[type=text] {
  background-color: grey;
  border-radius: 20%;
}

input[type=text]:focus {
  background-color: lightblue;

}
